<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-item>
      <ion-label>Pepperoni</ion-label>
      <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
    </ion-item> -->
    <ion-item>
      <ion-toggle></ion-toggle>
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-icon name="notifications-circle-outline"></ion-icon>
      <ion-searchbar></ion-searchbar>
      <!-- <ion-button class="btn" (click)="explore()"> -->
        <ion-icon (click)="explore()" routerLink="explore-more" class="right-side" name="grid-outline"></ion-icon>
      <!-- </ion-button> -->
      
      <!-- <ion-icon name="information-circle-outline"></ion-icon> -->
      <!-- <div class="margins">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <ion-icon name="search-outline"></ion-icon>
        <ion-icon class="right-side" name="grid-outline"></ion-icon>
      </div> -->
    </ion-item>

    <ion-item>
      <ion-button class="spaces" color="medium">Preparing</ion-button>
      <ion-button class="spaces" color="medium">Ready</ion-button>
      <ion-button class="spaces" color="medium">Picked up</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="align-center">
    <ion-icon class="big" name="storefront-outline" size="large"></ion-icon>
  </div>  
  
</ion-content>
