.spaces{
    margin: 15px;
}

ion-searchbar{
    width: 200px;
    margin-right: 0px;
}

.right-side{
    margin-right: 0px;
}


.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 30%;
    width: 50%;
}





// ion-toolbar{
//     width: 10px;
// }

// ion-toggler{
//     width: 100px;
// }