<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Business Insights
      <ion-icon slot="" name="grid-outline"></ion-icon>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="bkcolor">
    <ion-card-header>
      <ion-card-title >Profile Strength: <br> <span class="yellow"><b>WEAK</b></span> </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-label>Delivered Orders</ion-label>
  <ion-card class="bkcolor2">
    <ion-card-header>
      <ion-card-title >Profile Strength: <br> <span class="yellow"><b>WEAK</b></span> </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
 
</ion-content>
