<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>explore-more</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-card fill="outline"> -->

    <ion-list class="margin" fill="clear">
      <ion-item>
        <ion-icon slot="start" name="heart" color="danger"></ion-icon>
        <ion-label>Cloud Kitchen Koraput</ion-label>
      </ion-item>
      </ion-list>

    <div class="margin2">
      <ion-label>Online Ordering</ion-label><br>
      <p>SETTINGS</p>
    </div>
    
    <ion-list class="margin" fill="clear">
      <ion-item routerLink="/page1">
        <ion-icon slot="start" name="flash-outline"></ion-icon>
          <ion-label>Rush in Kitchen</ion-label>
      </ion-item>
      <ion-item routerLink="/page2">
        <ion-icon slot="start" name="time-outline"></ion-icon>
          <ion-label>Sechedule off-time in advance</ion-label>
      </ion-item>
      <ion-item routerLink="/page3">
        <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>Manage Staff</ion-label>
      </ion-item>
      <ion-item routerLink="/page3">
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <ion-label>Manage Notfication</ion-label>
    </ion-item>
  </ion-list>


  

  <div class="margin2">
    <ion-label>ORDERS</ion-label>
  </div>

  <ion-list class="margin" fill="clear">
    <ion-item routerLink="/page1">
      <ion-icon slot="start" name="man" color="danger"></ion-icon>
      <ion-label>Order History</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="help-outline"></ion-icon>
      <ion-label>Customer Complaints</ion-label>
    </ion-item>
  </ion-list>
  <div class="margin2"><ion-label>BUSINESS</ion-label></div>

  <ion-list class="margin" fill="clear">
    <ion-item>
      <ion-icon slot="start" name="cash-outline"></ion-icon>
      <ion-label>Payouts</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document-outline"></ion-icon>
      <ion-label>Invoices</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="newspaper-outline"></ion-icon>
      <ion-label>Taxes</ion-label>
    </ion-item>
  </ion-list>

  <div class="margin2">
    <ion-label>HELP</ion-label>
  </div>

  <ion-list class="margin" fill="clear">
    <ion-item>
      <ion-icon slot="start" name="help-circle-outline"></ion-icon>
      <ion-label>Help center</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="bulb-outline"></ion-icon>
      <ion-label>Learning center</ion-label>
    </ion-item>
  </ion-list>


  <div class="margin2">
    <ion-label>MORE</ion-label>
  </div>

  <ion-list class="margin" fill="clear">
    <ion-item>
      <ion-icon slot="start" name="pencil-outline"></ion-icon>
      <ion-label>Share your feedback</ion-label>
    </ion-item>
    </ion-list>

</ion-content>
